#Todo {
  h1 {
    text-align: center;
    font-size: 4rem;
    font-family: "Roboto", sans-serif;
    color: #ddd;
    margin: 2rem 0 1rem 0;
    letter-spacing: 0.3rem;
  }
}

.todoList {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 600px;
  margin: auto;
  padding: 0 0.8rem 5px 0rem;
  background: #eef;
  color: #999;

  .todo-wrapper {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
    padding: 0 1.4rem 5px 0rem;
    position: relative;
    right: 0.3rem;
    background: #eff;

    .todo-container {
      position: relative;
      right: 0.4rem;
      width: 106%;
      background: #fff;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
    }
  }
}

.input-todo {
  width: 99.5%;
  border: none;
  outline: none;
  padding: 1rem;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  color: #999;
  /* border-bottom: 2px solid #ccc; */
}

.todolist-wrapper {
  padding: 0rem 0rem 1rem 0rem;
}
.whenCompleted {
  text-decoration: line-through;
  text-decoration-color: teal;
  color: teal;
}
.items {
  display: flex;
  justify-content: space-between;
  padding: 10px 1rem 10px 0.7rem;
  border-top: 2px solid #eee;
  box-sizing: border-box;
  height: auto;
  align-items: center;

  .delete-btn {
    visibility: hidden;
    font-size: 2rem;

    &:hover {
      cursor: pointer;
      color: maroon;
      text-shadow: 0px 0px 10px maroon;
    }
  }

  &:hover .delete-btn {
    visibility: initial;
  }

  label {
    word-break: break-all;
    padding-right: 1rem;
    text-align: justify;
    display: inline-block;
  }
}

.todo-name-items {
  display: flex;
}

.todo-name-checkbox {
  margin-right: 5px;
}

.todo-name-edit {
  width: 600px;
  padding: 6px;
  border: none;
  border: 2px solid #eee;
  color: #999;
  border-radius: 5px;
}

.todo-footer-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px 1rem 0px 0.7rem;
  border-top: 2px solid #ddd;
}

.todo-selectors {
  position: relative;
  right: 4rem;

  label {
    margin: 0 5px;
    cursor: pointer;
  }
}

.clear-completed {
  color: teal;
}

.count {
  color: #318fb5;
}

.clear-completed label:hover {
  color: maroon;
  text-shadow: 0px 0px 10px maroon;
  cursor: pointer !important;
}

/* Condition Classes */

.activeItem {
  border: 1px solid #ddd;
  padding: 3px;
}
